body{
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, header{
    font-family: "Oswald", sans-serif;}

h1{
    font-weight: 900;
}


footer{
    background: rgb(5, 54, 94);
    color:rgb(255, 255, 255);
    /* font-size: 20px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 3px   rgb(0, 0, 0);    
    border-radius: 5px;
    padding: 5px;


}
.attribution{
    font-size: 10px;
}

.open-btn{
    display: block;
    background:rgb(255, 255, 0) ;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 20px;
    width: 200px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-decoration: none;
}

.my-btn:hover{
     box-shadow:5px 5px 5px rgba(49, 49, 49, 0.525);
}

/* h2{ 
    text-align: center;
    margin: 20px;
} */