<header style="background: rgb(14, 86, 130)">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('main_page',) }}">
            <img src="/static/img/air-force.png" alt="" width="30" class="me-2">
            PlanePedia</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('main_page',) }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('articles',) }}">Plane history</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Plane types
                </a>
                <ul class="dropdown-menu">
                  {% for type in plane_types %}
                  <li><a class="dropdown-item" href="{{ url_for('planes_by_type', category_id=type.id) }}">{{type.title}}</a></li>
                  {% endfor %}
                  

                </ul>
              </li>

              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('suggest_plane',) }}">Suggest a plane</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('accounts.logout',) }}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('accounts.login',) }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('accounts.register',) }}">Create account</a>
              </li>
              {% endif %}

              
            </ul>
            <form action="{{ url_for('search',) }}" class="d-flex" role="search">
              <input required name="query" class="form-control me-2" type="search" placeholder="Search something" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</header>